:root{
	--cell: rgba(53, 36, 59, 0.9);
	--hover: rgba(102, 79, 117, 0.9);
	--darker: rgb(58, 48, 65);
	--header: rgba(90, 61, 107, 0.9);
}

@keyframes slideleft {
  from { background-position: center, 1400% -400px; }
  to { background-position: center, 0% -400px; }
}

@media only screen and (min-width: 981px) {
  body {
    background-color: #3366cc;
    background-image: url("chair/eos.png"), url("chair/clouds2.png");
    background-repeat: repeat-y, repeat-x;
    background-attachment: scroll, fixed;
    background-position: center, 1400% -400px;
	background-size: 90%, 70%;
    animation: slideleft 600s linear infinite;
  }
}

@media only screen and (max-width: 980px) {
body {
	background-color: #3366cc;
	background-image: url("chair/eos.png"), url("chair/clouds2.png");
    background-repeat: repeat-y, repeat-x;
    background-attachment: scroll, fixed;
	background-position: -40px 0px, 100% 200px;
	background-size: 130%, 180%;
}

}

img.Badge {
		max-width: 60px;
	}

	div.IconContainer {
		max-width:60px;
		max-height:60px;
		display:inline-block;
	}

#titleImage {
	display: block;
	margin: auto;
	width: 90%;
	max-width: 1000px;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.705));
}

p.Tradable {
	box-shadow:inset 0px 1px 0px 0px #97fe9f;
	background:linear-gradient(to bottom, #7de998 5%, #3dc539 100%);
	background-color:#4cf63d;
	border-radius:20px;
	border:1px solid #0a4902;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #007e15;
	min-width:86px;
	text-align: center;
}

p.Untradable {
	box-shadow:inset 0px 1px 0px 0px #fe9797;
	background:linear-gradient(to bottom, #e97d7d 5%, #c53939 100%);
	background-color:#f63d3d;
	border-radius:20px;
	border:1px solid #490202;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #810000;
	min-width:86px;
	text-align: center;
}

p.AnniversaryEvent {
	box-shadow:inset 0px 1px 0px 0px #dd97fe;
	background:linear-gradient(to bottom, #e0bddf 5%, #ca69b2 100%);
	background-color:#cb3df6;
	border-radius:20px;
	border:1px solid #ce33ed;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #d400ff;
	min-width:86px;
	text-align: center;
}

p.DuplicateEntry {
	box-shadow:inset 0px 1px 0px 0px #fe9797;
	background:linear-gradient(to bottom, #db4a4a 5%, #690000 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #500000;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #d30000;
	min-width:86px;
	text-align: center;
}

p.Unreleased {
	box-shadow:inset 0px 1px 0px 0px #fe9797;
	background:linear-gradient(to bottom, #db4a4a 5%, #690000 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #500000;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #d30000;
	min-width:86px;
	text-align: center;
}

p.IncompleteEntry {
	box-shadow:inset 0px 1px 0px 0px #fe9797;
	background:linear-gradient(to bottom, #db4a4a 5%, #690000 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #500000;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #d30000;
	min-width:86px;
	text-align: center;
}

p.DonorChair {
	box-shadow:inset 0px 1px 0px 0px rgb(171, 254, 151);
	background:linear-gradient(to bottom, #4adb4a 5%, #126900 100%);
	background-color:#169916;
	border-radius:20px;
	border:1px solid #195000;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #00d30b;
	min-width:86px;
	text-align: center;
}

p.QuestReward {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 230, 151);
	background:linear-gradient(to bottom, #f5e661 5%, #a08800 100%);
	background-color:#998516;
	border-radius:20px;
	border:1px solid #504400;
	display:inline-block;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #d3b300;
	min-width:86px;
	text-align: center;
}

p.GMEvent{
	box-shadow:inset 0px 1px 0px 0px rgb(151, 216, 254);
	background:linear-gradient(to bottom, #047ccc 5%, #3392eb 100%);
	background-color:#167099;
	border-radius:20px;
	border:1px solid #002950;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #042d7a;
	min-width:86px;
	text-align: center;
}

p.GMOnly {
	box-shadow:inset 0px 1px 0px 0px rgb(255, 255, 255);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:20px;
	border:1px solid #0361db;
	display:inline-block;
	color:#0975f0;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #ffffff;
	min-width:86px;
	text-align: center;
}

p.ChristmasEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 151, 151);
	background:linear-gradient(to bottom, #e00101 5%, #00cc0b 100%);
	background-color:#219916;
	border-radius:20px;
	border:1px solid #460000;
	display:inline-block;
	color:#e9e6b7;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #473d01;
	min-width:86px;
	text-align: center;
}

p.EasterEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 230, 151);
	background:linear-gradient(to bottom, #76dfdf 5%, #d6a3d8 100%);
	background-color:#169999;
	border-radius:20px;
	border:1px solid #662756;
	display:inline-block;
	color:#ffe23d;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #000000;
	min-width:86px;
	text-align: center;
}

p.LunarNewYear {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 151, 151);
	background:linear-gradient(to bottom, #ce0000 5%, #6d0000 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #ffbb00;
	display:inline-block;
	color:#ffd000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #000000;
	min-width:86px;
	text-align: center;
}

p.NewYearEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(161, 161, 161);
	background:linear-gradient(to bottom, #000000 5%, #1d1d1d 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #ffd900;
	display:inline-block;
	color:#ffd000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #ffef97;
	min-width:86px;
	text-align: center;
}

p.SummerEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(151, 247, 254);
	background:linear-gradient(to bottom, #98e8eb 5%, #16dffa 100%);
	background-color:#169999;
	border-radius:20px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffd000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #1b3e66;
	min-width:86px;
	text-align: center;
}

p.NormalGacha {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 235, 151);
	background:linear-gradient(to bottom, #ffee00 5%, #ffa600 100%);
	background-color:#991616;
	border-radius:20px;
	border:1px solid #ff7b00;
	display:inline-block;
	color:#ff8800;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #fffb00;
	min-width:86px;
	text-align: center;
}

p.PQReward {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 213, 151);
	background:linear-gradient(to bottom, #918b78 5%, #cec4ae 100%);
	background-color:#b9a491;
	border-radius:20px;
	border:1px solid #91ddf0;
	display:inline-block;
	color:#75c7ec;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #494949;
	min-width:86px;
	text-align: center;
}

p.StorePurchase {
	box-shadow:inset 0px 1px 0px 0px rgb(151, 251, 254);
	background:linear-gradient(to bottom, #0099ff 5%, #ffffff 100%);
	background-color:#76b1b9;
	border-radius:20px;
	border:1px solid #01173f;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #000000;
	min-width:86px;
	text-align: center;
}

p.BossDrop {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 151, 151);
	background:linear-gradient(to bottom, #924426 5%, #723a1a 100%);
	background-color:#9e4000;
	border-radius:20px;
	border:1px solid #000000;
	display:inline-block;
	color:#ff0000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #000000;
	min-width:86px;
	text-align: center;
}

p.ThanksgivingEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 230, 151);
	background:linear-gradient(to bottom, #df9629 5%, #995116 100%);
	background-color:#997016;
	border-radius:20px;
	border:1px solid #cfa048;
	display:inline-block;
	color:#8f5100;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #fce1af;
	min-width:86px;
	text-align: center;
}

p.ValentinesEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 151, 202);
	background:linear-gradient(to bottom, #da1355 5%, #8f0143 100%);
	background-color:#99164d;
	border-radius:20px;
	border:1px solid #e49fe0;
	display:inline-block;
	color:#f0a5d3;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #000000;
	min-width:86px;
	min-width:86px;
	text-align: center;
}

p.HalloweenEvent {
	box-shadow:inset 0px 1px 0px 0px rgb(254, 230, 151);
	background:linear-gradient(to bottom, #df9629 5%, #995116 100%);
	background-color:#997016;
	border-radius:20px;
	border:1px solid #610199;
	display:inline-block;
	color:#7700e7;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #ffffff;
	min-width:86px;
	text-align: center;
}

p.Uncategorized {
	box-shadow:inset 0px 1px 0px 0px rgb(255, 255, 255);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:20px;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #ffffff;
	min-width:86px;
	text-align: center;
}

p.ChairGacha {
	box-shadow:inset 0px 1px 0px 0px #dd97fe;
	background:linear-gradient(to bottom, #a64adb 5%, #3a0069 100%);
	background-color:#701699;
	border-radius:20px;
	border:1px solid #230050;
	display:inline-block;
	color:#f3ef1a;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 0px 6px #7f00d3;
	min-width:86px;
	text-align: center;
}

div.chairControl {
	background-color: var(--cell);
	color: white !important;
	padding: 20px 20px 20px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

table.mainTable {
	width: 80% !important;
	margin: 30px auto;
	border-collapse: separate;   /* Important: allows gaps */
	border-spacing: 10px;         /* Creates the gaps between cells */
	font-family: Arial, sans-serif;
}

.mainTable td { height: 170px; }
.mainTable th { height: 50px; }

th, td {
	background-color: var(--header);
	color: white;
	padding: 15px 20px;
	text-align: left;
	border: none;                 
	border-radius: 8px;          
	box-shadow: 2px 2px 8px rgba(25, 0, 32, 0.628)!important;
	transition: background 0.3s;
}

#myTable_wrapper {	
    margin-top: 50px;
    margin-bottom: 50px;

}

div.dt-search {
	background-color: var(--cell);
	color: white !important;
	padding: 16px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	position:absolute;
	left:11%;
}

div.dt-info {
	background-color: var(--cell);
	color: white !important;
	padding: 21px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	position:absolute;
	left:11%;
}

div.dt-paging {
	background-color: var(--cell);
	color: white !important;
	height:27px;
	padding: 16px 20px 16px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	position:absolute;
	right:11%;
}

div.dt-container .dt-paging .dt-paging-button:hover {
	background-color: var(--cell);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--cell)), color-stop(100%, var(--darker)));
    background: -webkit-linear-gradient(top, var(--cell) 0%, var(--darker) 100%);
    background: -moz-linear-gradient(top, var(--cell) 0%, var(--darker) 100%);
    background: -ms-linear-gradient(top, var(--cell) 0%, var(--darker) 100%);
    background: -o-linear-gradient(top, var(--cell) 0%, var(--darker) 100%);
    background: linear-gradient(to bottom, var(--cell) 0%, var(--darker) 100%)
}

th.icon {
	width: 30px;
	text-align: center !important;
	font-size:12px;
}

th.category {
	min-width: 160px;
	text-align: center !important;
	font-size:16px;
}

th.name {
	min-width: 240px;
	text-align: center !important;
	font-size:16px;
}

td.icon {
	text-align: center !important;
}

td.name {
	font-family: Verdana, sans-serif;
	font-size:20px;
}

td.obtained {
	font-size:24px;
}

th {
	background-color: var(--cell);    
	text-transform: capitalize;
}

tr:hover td {
	background-color: var(--hover);  
}

img.portrait {
	object-fit: cover;
	border-radius: 4px;
}

td.Image > img {
	max-height:150px;
}

div.BadgeContainer {
	overflow:visible;
	display: inline-block;
}

#sharedTooltip {
	position:fixed;
	top:50%;
	right:1%;
	width:300px;
	background: #163b18e5;
	padding: 10px 10px;
	border-radius: 8px;
	color:white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	font-size: 10pt;
	z-index: 9999;	
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

#sharedTooltip.visible {
	opacity: 1;
  	visibility: visible;
}

#footer {
	margin: 0 auto;
	display: flex;
	margin-top:30px;
  	text-align: center;
	background-color: var(--cell);
	color: white !important;
	padding: 0px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	font-family: Arial, sans-serif !important;
	position:relative;
	width:30%;
	p {
		width: 90%; /* Or any specific width */
  		margin: 0 auto;
		vertical-align: middle;
		display: inline-flex;
    	align-items: center;
    	justify-content: center;
	}
	img {
		margin: 8px 10px;
	}
}





div.baseTop {
	margin-left:10px;
	margin-top:10px;
}

div.baseBox {
	background-color:#131b6faa;
	border-radius: 4px;
	outline: 1px solid #131b6faa;
	outline-offset: 1px;
	z-index: 9999;
}

#chairBox {
	visibility: hidden;
	position:fixed;
	pointer-events: none;
}

#chairBox.visible {
	opacity: 1;
  	visibility: visible;
}

div.chairImgBox {
	width:68px;
	height:68px;
	background-color: #ffffffaa;
	float:left;
	display:flex;
	justify-content: center; 
	align-items: center;   
}

img.chairImg {
	transform: scale(2);
	image-rendering: pixelated;
	top:32px;
	left:20px;
}

span.chairID{
	color:rgb(160, 190, 235);
	font-family: monospace;
	font-size:12px;
	float:right;
	width:65%;
	margin-right:20px;
	margin-bottom:5px;
}

span.chairDesc{
	color:white;
	font-family: monospace;
	font-size:12px;
	float:right;
	width:65%;
	margin-right:20px;
}

#badges-container {
	background-color: var(--cell);
	padding: 0px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	width:80%;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

tr.trInactive > td {
	background-color: #5e775d;
}

tr.trInactive:hover td {
	background-color: #6e8a6d;  
}